.at {
    font-family: Arial;
    font-size: 14px;
}

.content {
    padding-top: 10px;
}

.emailForm {
    border-color: darkolivegreen;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    width: max-content;
}

.title {
    color: darkolivegreen;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
}
